{% extends "base.html" %}
{% block title %}: Colophon{% endblock %}

{% block header %}
{% endblock %}

{% block post %}
	<div class="post">
		<h2>Colophon</h2>
		<p><img src="/images/ckunte.jpg"></p>

		<p>Antinode a private journal &mdash; written on localhost by Chyetanya Kunt&eacute;.</p>

		<h3>Author</h3>
		<p>Dad to two lovely kids, the author is a 41 years old engineer, who is much into offshore structures and turret-mooring systems. Outside of work, this is his creative outlet.</p>

		<h3>Software</h3>
		<ul>
			<li><a href="http://macromates.com/">TextMate</a> or <a href="http://www.sublimetext.com/">Sublime Text</a> editor.</li>
			<li>Author's forked version of <a href="https://github.com/dz/chisel">chisel</a>, and <a href="http://jinja.pocoo.org/docs/">Jinja2</a> templating engine, both powered by <a href="http://www.python.org/">python</a> programming language.</li>
			<li>TextExpander for automation such as pulling and adding links from the browser, and <a href="/2013/autoimagelink">image folder</a>.</li>
			<li><a href="/2013/nginx">nginx</a> server on localhost.</li>
			<li><a href="/convert">Convert</a> &mdash; For times when posts need to be converted from HTML to Markdown. (Javascript required.)</li>
			<li><a href="http://www.mathjax.org/">Mathjax</a> to render LATEX formulae. (Javascript required.)</li>
		</ul>

		<h3>Projects and Code</h3>
		<ul>
			<li><a href="https://github.com/ckunte">Project repositories</a>.</li>
			<li><a href="https://gist.github.com/ckunte">Code snippets</a>.</li>
		</ul>
		
		<h3>Contact</h3>
		<p>Write to <span style="unicode-bidi:bidi-override;direction:rtl;">ten.etnukc@natehc</span>. (For privacy: my <a href="/pgp/ckunte-pgp.txt">PGP public key</a>.)</p>
	</div>
{% endblock %}