@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,900italic');
@import url('http://fonts.googleapis.com/css?family=BenchNine:400,700');
@import url('http://fonts.googleapis.com/css?family=ABeeZee');
@import url('http://fonts.googleapis.com/css?family=Chau+Philomene+One:400,400italic');
@import url('http://static.tumblr.com/nlywmlg/04bmbn0yr/iconic_stroke_tumblr.css');
@font-face {font-family: 'EntypoRegular';src: url('http://static.tumblr.com/nlywmlg/drhmajom0/entypo-webfont.eot');src: url('http://static.tumblr.com/nlywmlg/drhmajom0/entypo-webfont.eot?#iefix') format('embedded-opentype'),url('http://static.tumblr.com/nlywmlg/3RMmajomo/entypo-webfont.woff') format('woff'),url('http://static.tumblr.com/nlywmlg/h65majon6/entypo-webfont.ttf') format('truetype'),url('http://static.tumblr.com/nlywmlg/cvCmajonn/entypo-webfont.svg#EntypoRegular') format('svg');font-weight: normal;font-style: normal;}
sup {font: 11px/11px 'Lato', Helvetica;}
.credits {font: 11px/11px 'Lato', Helvetica;margin-top:3px;}
del {color:#ccc;}
b, strong {
  text-transform:lowercase; 
  font-variant:small-caps; 
  font-size:120%;
  letter-spacing:1px;
}
h2 {
font-family: 'Lato', Helvetica;
color:#928c86;
font-weight:600;
font-size:12px;
line-height:20px;
text-transform:uppercase;
margin-bottom:2px;
margin-top:10px;
}    
body {
font-size:1.4em;
line-height:140%;
color: rgba(0,0,0,0.8);
margin:0 0 0 0;
background: #dad4c9;
background:url('http://static.tumblr.com/nlywmlg/WMvmbs8qa/bgpat42.jpg');
background-attachment:fixed;
height:100%;
padding-bottom:90px;
}
.hidestatic {
display: none;
}
a {
text-decoration:none;
color: rgba(0,0,0,0.8);
}
.title{
margin: 0 auto;
text-align:center;
margin-top:-22px;
margin-bottom:75px;
}
h3 {
z-index:999;
position:relative;
line-height:45px;
margin-bottom:20px;
font-weight:700;
margin-top:-20px;
text-align:center;
color: #3a3435;
font-family: 'BenchNine', Helvetica;
text-transform:uppercase;
font-size:44px;
}
#header {
  margin-top:50px;
  margin-bottom:30px;
  height:50px;
  text-align:center;
  }   
#wrapper {
width:620px;
margin:0 auto;
} 
.postcontainer {
margin: 0 auto;
width:620px;
clear:both;
}
.post {
box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
position:relative;
margin-top:0;
background:#fff;
color:000;
width:500px;
padding:60px 60px 80px 60px;
margin-bottom:70px;
font-family: 'ABeeZee', 'Helvetica Neue', Helvetica;
font-weight:300;
text-align:left;
}
.post:before{
 content:"";
 position:absolute;
 bottom:4px;
 left:10px;
 width:96%;
 height:90%;
 box-shadow: 0px 4px 8px rgba(0,0,0,0.12);
-moz-transform: rotate(-3deg) skewX(-2deg) skewY(-2deg);
-webkit-transform: rotate(-1deg)  skewX(-1deg) skewY(0deg);
-o-transform: rotate(-3deg) skewX(-2deg) skewY(-2deg);
-ms-transform: rotate(-3deg) skewX(-2deg) skewY(-2deg);
transform: rotate(-3deg) skewX(-2deg) skewY(-2deg);
 z-index:-1;
}    
.post pre {
  margin:10px 0 10px 0;
  padding:10px;
  background-color:#eee;
  font:normal 13px monospace;
  overflow:auto;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.post p code {
  padding:3px;
  vertical-align:middle;
  background-color:#eee;
  font:normal 13px monospace;
  overflow:auto;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}
hr, .footnotes hr {
  border-color:#eee;
  border-style:solid;
  border-width:1px 0 0;
  width:180px;
  }
hr {margin:20px auto;}
.footnotes hr {margin:20px 0}
.footnotes p, .footnotes li {font-size:13px!important;line-height:18px}

.post p, .post li, .post blockquote {
font-size:15px;
line-height:24px;
}
.post a {
font-weight:400;
color:#009900;
}
.post blockquote{
padding-left:15px;
margin-left:0;
border-left: 1px solid #ddd;
}
.post img {
z-index:10;    
position:relative;
}
.post > p img {
  -khtml-border-radius:2px;
  -o-border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:transparent;
  border:0 transparent solid;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0 1px 2px;
  -moz-box-shadow:rgba(0,0,0,0.7) 0 1px 2px;
  margin:0 auto;
  padding:0;
  display:block;
}    
.post strong {
color:#3e3e3e;   
font-weight:400;
}    
.photo-post img {
display:block;
clear:both;
width:620px;
position:relative;
padding-bottom:40px;
margin: -60px 0 -20px -60px;
z-index:10;
}   
.post .photocaption {
margin-bottom:-30px;
}
.photoset {
margin: 0 auto;
display:block;
clear:both;
width:620px;
position:relative;
padding-bottom:35px;
margin: -50px 0 -20px -25px;
}    
.photoset iframe{
max-width:620px;
}
.post .photosetcaption {
    margin: 0 auto;
margin-bottom:-20px;
width:500px;
}
.videos {
width:620px;
margin: -60px 0 30px -60px;
}    
.videocaption{
margin-bottom:-30px;
}
.videos iframe, .videos embed, .videos object{
width:100%;
}
.asker{
text-transform:uppercase;
text-align:center;
color:#aeaeae;
font-size:10px;
letter-spacing:4px;
font-weight:400;
}
.question {
color: #3a3435;
text-transform:uppercase;
font-family: 'BenchNine', Helvetica; line-height:15px;
font-size:33px;
font-weight:700;
line-height:1.1em;
display:block;
clear:both;
text-align:center;
}
.questioncontainer{
margin-bottom:15px;
}
.answer{
text-align:center;
}    
.postinfo {
position:absolute;
text-transform:uppercase;
bottom:0px;
background:#fbf9f5;
left:0px;
text-align:center;
width:610px;
padding-left:10px;
padding-bottom:6px;
}
.postinfo:after{
content:"";
position:absolute;
top:-3px;
left:0;
background:url('http://static.tumblr.com/nlywmlg/2rZmbokv3/postinfo_top.png');
width:100%;
background-repeat:repeat-x;
height:6px;
}    
.postinfo a{
float:left;
color: #dbd3c4;
font-weight:600;
font-size:9px;
font-family: 'Lato', 'Helvetica Neue', Helvetica;
letter-spacing:1px;
line-height:16px;
padding: 2px 6px;
-webkit-border-radius: 2px;
border-radius: 2px;
margin-right:10px;
}
{block:IfHideTags}
.tags{
display:none;
}
{/block:IfHideTags}         
.tags {
}
.tags a{
margin-top:10px;
margin-right:-7px;
position:relative;
}
.tags a:after{
content:","
}
.tags a:last-child:after{
content:none; 
}
.tags a:last-child{
padding-right:10px;   
border-right:2px dotted #ece4d5;
}
li.notes{
list-style:none;
}
li.notes a{
margin-left:10px;
float:left;
display:inline;
clear:none;
margin-top:10px;
padding-right:10px;
} 
.date {
text-transform:uppercase;
text-align:center;
font-size:10px;
letter-spacing:4px;
color:#aeaeae;
font-weight:400;
margin-bottom:20px;
}
.month{
display:inline;
}
.linktitle {
position:relative;
z-index:202;
text-align:center; 
}    
.linktitle a{
background:#fff;
padding: 0 15px 0 15px;
color: #3a3435;
text-transform:uppercase;
font-family: 'BenchNine', Helvetica; line-height:15px;
font-size:33px;
margin-bottom:20px;
font-weight:700;
line-height:1.1em;
margin-top:0px;
}
.linktitle:after{
content:"";
position:absolute;
width:100%;
height:10px;
border-bottom:1px solid #f0f0f0;
top:5px;
left:0;
z-index:-1;
} 
p.quote {
text-align:left;
color: #3a3435;
/* text-transform:uppercase; */
font-family: 'BenchNine', Helvetica; line-height:15px;
font-size:33px;
margin-bottom:20px;
font-weight:700;
line-height:1.1em;
margin-top:0px;
z-index:999 !important;
position:relative;
}
.quotesource, .quotesource p{
margin: 0 auto;
float:none;
text-align:center !important;   
}    
.chatpost {
margin-top:0px;
font-size:15px;
}
.chatpost td{
margin:0;
}
.chatpost td.label {
text-align:right;
border-right:1px solid #f0f0f0;
padding-right:10px;
font-weight:700;
font-family: 'BenchNine', Helvetica;
text-transform:uppercase;
font-size:20px;
color:#525252 !important;
}
.chatpost tr td{
margin: 0;
padding:0;
padding:5px;
padding-left:10px;
}  
.chatpost tr.odd td {
border-bottom:1px solid #f0f0f0;
color: #a3a3a3;
}
.chatpost tr.even td {
border-bottom:1px solid #f0f0f0;
color: #ccc;
}
.chatpost tr:last-child td{
border-bottom:none;
}
.audioplayer{
padding:10px;
border:1px solid #ececec;
-webkit-border-radius:5px;
border-radius:5px;
display:block;
clear:both;
}
.audioplayer *{
text-align:center;
width:100%;
height:60px;
}    

.albumcover{
display:inline;
float:left;
}
.albumcover img{
display:inline-block;
max-width:80px;
margin-bottom:20px;
margin-left:40px;
-webkit-border-radius:2px;
border-radius:2px;
}
.artist{
opacity:0.6;
font-weight:400;
display:block;
padding-left:170px;
margin-bottom:5px;
margin-top:10px;
font-size:13px;
text-transform:uppercase;
letter-spacing:1px;
}
.trackname{
font-weight:400;
font-size:18px;
display:block;
padding-left:170px;
color: #3a3435;
text-transform:uppercase;
font-family: 'BenchNine', Helvetica; line-height:15px;
font-size:33px;
}
.clear {
clear:both;
}
ol.notes {
width:70%;
}
ol.notes,
ol.notes li {
list-style-type:none;
color: #413b39;
line-height:12px;
font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
font-weight:400;
font-size:12px;
}
ol.notes li a{
color: #979797;
opacity:1;
font-weight:500;
}
ol.notes li.note {
padding:4px;
}
ol.notes li img{
-webkit-border-radius:2px;
border-radius:2px;
}
ol.notes li.note img.avatar {
vertical-align:-6px;
margin-right:5px;
width:16px;
height:16px;
padding: 2px 2px 2px 4px;
}
ol.notes li.note blockquote a {
text-decoration:none;
color:#979797;
border-left: 2px solid #454545;
margin-left:-30px;
padding-left:10px;
font-weight:400;
opacity:0.6;
}  
.footer {
clear:both;
width:620px;
margin: 0 auto;
margin-top:-50px;
padding:0;
}
.footer a {
text-align:center;
color: #3a3435;
font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
text-transform:uppercase;
font-size:10px;
letter-spacing:2px;
opacity:0.5;
font-weight:600;
}
#header, #header a {
text-align:center;
color: #333;
font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
text-transform:uppercase;
font-size:10px;
letter-spacing:2px;
/* opacity:0.5; */
font-weight:600;  
}
#header span, .footer a span {
opacity:0.8;
font-weight:300;
}    
.footer a:hover {
opacity:0.7;
}
.footer a.left {
float:left;
}
.footer a.right {
float:right;
}
.pagecount{
margin-left:42%;
font-size: 12px;
font-family: 'Helvetica Neue', Helvetica, sans-serif;
font-weight:500;
color: rgba(0,0,0,0.3);
text-transform:uppercase;
letter-spacing:5px;
text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
margin-top:57px;
}
.pagecount span{
font-size:14px;
color: rgba(0,0,0,0.6);
vertical-align:-1px;
}
.posticonquote{
color:#f4efe6;
z-index:1 !important;
font-family:'EntypoRegular', Helvetica, Arial;
font-size:320px;
opacity:0.4;
position:absolute;
top:30px;
left:20px;
}